* {
  margin: 0;
  padding: 0;
  --primary-color: #FBFBF2;
  --secondary-color: #121212;
  --serif-font: 'Girassol', Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  --sans-serif-font: 'Oswald', Arial, Helvetica, sans-serif;
}

body {
  background-color: var(--primary-color);
}

h1,
h2 {
  font-family: var(--serif-font);
  color: var(--secondary-color);
}

h3,
p,
a {
  font-family: var(--sans-serif-font);
  color: var(--secondary-color);
}

textarea {
  color: var(--secondary-color);
  resize: none;
}

img {
  width: 85%;
  object-fit: contain;
}

#title {
  position: fixed;
  top: 15px;
  left: 2%;
  font-size: 1rem;
}

.icon {
  cursor: pointer;
  color: var(--secondary-color);
}

.icon:hover {
  color: #121212e0;
}

.page {
  height: 100vh;
}

.page-inner {
  position: relative;
  top: -90px;
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.page-inner .header-title {
  border-bottom: 2.5px solid var(--secondary-color);
  white-space: nowrap;
}

.page-inner h1 {
  font-size: 2rem;
  margin: 0 5px;
}

.page-inner span {
  margin-top: 1%;
  display: flex;
  justify-content: center;
  gap: 50%;
}

.page-inner span i{
  font-size: 2rem;
}

a:link,
a:visited,
a:link:active, 
a:visited:active {
  color: var(--secondary-color);
}

#about-container {
  font-size: 1.2rem;
  text-align: center;
  margin-top: 10%;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.page-content {
  display: flex;
  gap: 20px;
  flex-direction: column;
}

.page-content #link-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 40px;
}

#link-container a {
  color: var(--secondary-color);
  text-decoration: none;
  font-size: 1.3rem;
}

.page .header-container {
  position: relative;
  top: 10%;
  text-align: center;
  display: flex;
  flex-direction: column;
}

.page .footer-container {
  position: relative;
  bottom: 15%;
  text-align: center;
  display: flex;
  flex-direction: column;
  color: var(--secondary-color);
}

.header-container span,
.footer-container span {
  display: flex;
  flex-direction: column;
  color: var(--secondary-color);
}

#link-container .link {
  display: flex;
  justify-content: center;
  color: var(--secondary-color);
}

.link {
  color: var(--secondary-color);
  text-decoration: none;
  font-size: 1.5rem;
  font-family: var(--serif-font);
  width: 100%;
  z-index: 5;
}

#link-container a:hover,
.link:hover {
  text-decoration: underline;
}

.link:visited {
  color: var(--secondary-color)
}

/* Projects */

#project-section-title {
  margin-top: 150px;
}

.page-inner .page-content .project-list {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}

.project-link-container {
  display: flex;
  white-space: nowrap;
  gap: 50%;
  justify-content: center;
  padding: 20px;
}

.project-list {
  display: flex;
  flex-direction: column;
  gap: 200px;
  min-height: 500px;
  height: 50%;
  padding: 15px 5%;
  overflow-y:scroll;
}

.project-card h2 {
  display: flex;
  justify-content: center;
  padding: 10px;
}

.project-content {
  display: flex;
}

.project-button-container {
  width: 100%;
  display: flex;
  justify-content: center;
  gap: 30px;
  margin-bottom: 20px;
}

.project-button {
  background-color: transparent;
  border: 4px solid var(--secondary-color);
  color: var(--secondary-color);
  width: 100px;
  height: 32px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  margin: 4px 2px;
  cursor: pointer;
}

.project-card-left {
  max-width: 50%;
}

.project-card-right {
  max-width: 50%;
}

.project-image-container {
  display: flex;
  justify-content: center;
  padding: 2%;
}

.project-overview,
.project-technologies,
.project-difficulties,
.project-solution,
.project-features {
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 2%;
}

/* Contact Form */

.form {
  margin-top: 10%;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.text-input-box .text-input-inner,
.textarea-container .textarea-inner {
  position: relative;
}

.text-input-box .text-input-inner .input-field {
  color: var(--secondary-color);
  width: 100%;
  padding: 10px 0;
  font-size: 1.5em;
  margin-bottom: 30px;
  border: none;
  border-bottom: 2px solid var(--secondary-color);
  outline: none;
  background: transparent;
}

.text-input-box .text-input-inner .input-label {
  position: absolute;
  top:0;
  left: 0;
  padding: 10px 0;
  font-size: 1.5em;
  color: var(--secondary-color);
  pointer-events: none;
  transition: .5s;
}

.text-input-box .text-input-inner .input-field:focus ~ .input-label,
.text-input-box .text-input-inner .input-field:valid ~ .input-label {
  top: -20px;
  left: 0;
  color: var(--secondary-color);
  font-size: 12px;
}

.textarea-container {
  margin-top: 10px;
}

.textarea-container .textarea-inner .textarea-field {
  outline: none;
  background: none;
  border: none;
  border-bottom: solid 2px var(--secondary-color);
  font-size: 1.2em;
  font-weight: 400;
  letter-spacing: 1px;
  margin: 0em 0 1.875em 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  -o-box-sizing: border-box;
  box-sizing: border-box;
  line-height: normal;
  resize: none;
  overflow: auto;
  margin: 0;
  width: 100%;
  height: 100%;
  transition: height 0.5s ease-in;
}

.textarea-container .textarea-inner .textarea-label {
  position: absolute;
  top: 0;
  left: 0;
  padding: -30px 0;
  font-size: 1.5em;
  color: var(--secondary-color);
  pointer-events: none;
  transition: .5s;
  min-height: auto;
  max-height: fit-content;
}

.textarea-container .textarea-inner .textarea-field:focus ~.textarea-label,
.textarea-container .textarea-inner .textarea-field:valid ~.textarea-label {
  top: -35px;
  left: 0;
  padding: 10px 0;
  color: var(--secondary-color);
  font-size: 1.2em;
  background: transparent;
}

.textarea-container .textarea-inner .textarea-field:focus,
.textarea-container .textarea-inner .textarea-field:valid {
  max-height: 300px;
  height: 20%;
  min-height: 100px;
}

.input-field:-webkit-autofill,
.input-field:-webkit-autofill:focus,
.textarea-container .textarea-inner .textarea-field:-webkit-autofill,
.textarea-container .textarea-inner .textarea-field:-webkit-autofill:focus {
  transition: background-color 600000s 0s, color 600000s 0s;
}

.submit-button {
  display: flex;
  justify-content: center;
  margin: 5% 0;
  width: 100%;
}

.form-button {
  background-color: transparent;
  border: 4px solid var(--secondary-color);
  color: var(--secondary-color);
  padding: 12px 36px;
  text-decoration: none;
  margin: 4px 2px;
  cursor: pointer;
}

@media screen and (max-width: 1150px) {

  .project-image {
    width: 60%;
  }

  .project-content {
    flex-direction: column;
  }

  .project-card-left {
    max-width: 100%;
  }

  .project-card-right {
    max-width: 100%;
  }

  .project-link-container {
    gap: 20%;
  }

}


@media screen and (max-width: 550px) {
  #about-container {
    max-width: 350px;
  }

  #title {
    position: absolute;
    top: 50px;
    left: 50%;
    transform: translateX(-50%);
  }

  .page .footer-container {
    bottom: 20%;
  }

  .page .header-container {
    top: 16%;
  }

  .project-link-container {
    flex-direction: column;
    gap: 6px;
  }
  

  .project-list {
    min-height: 300px;
    height: 10%;
    padding: 10px;
  }
}