
.navbar {
  /* position: relative; */
  /* width: 100%; */
  display: flex;
  justify-content: space-between;
  margin: 5%;
  align-items: center;
  z-index: 10;
}

.navbar .name-container {
  font-size: 1.2rem;
  display: flex;
  flex-direction: column;
  max-width: 100px;
  width: 30%;
  font-family: 'Open Sans', sans-serif;
}

.name-container .first {
  display: flex;
  justify-content: flex-start;
}

.name-container .last {
  display: flex;
  justify-content: flex-end;
}

.navbar .nav-links {
  max-width: 200px;
  width: 45%;
  display: flex;
  justify-content: space-between;
}

a:link {
  text-decoration: none;
  color: black;
}

a:visited {
  text-decoration: none;
  color: black;
}

.page-content-container {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 48px;
  font-family: 'Roboto Slab', serif;
}

.page-content-header {
  font-size: 1.4rem;
  margin: 0 0 0 8px;
}

.divider-container {
  margin: 8px 0;
  padding: 0 8px;
  border-top: 1px solid black;
}

.divider-container .title {
  font-size: 2rem;
}

.resume-btn {
  padding: 8px 16px;
  border: 1px solid black;
  border-radius: 8px;
  font-size: 1.2rem;
  font-family: 'Open Sans', sans-serif;
  background: none;
}

.footer {
  position: fixed;
  bottom: 8%;
  left: 50%;
  transform: translateX(-50%);
  font-family: 'Open Sans', sans-serif;
}

.portfolio-btn-container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 8px 16px;
  border: 1px solid black;
  border-radius: 8px;
  font-size: 1.2rem;
  font-family: 'Open Sans', sans-serif;
  background: none;
}

@media only screen and (min-width: 600px) {
  .navbar {
    margin: 5%;
    background-color:blue;
  }
}

@media only screen and (min-width: 768px) {
  .navbar {
    margin: 5%;
    background-color: red;
  }
}

@media only screen and (min-width: 992px) {
  .navbar {
    background-color: green;
    margin: 5%;
  }
}

@media only screen and (min-width: 1200px) {
  .navbar {
    background-color: aqua;
    margin: 5%;
  }
}