.portfolio {
  position: absolute;
  height: 100%;
  width: 100%;
  bottom: 0;
  background-color: #0D0D0D;
  display: none;
}

.portfolio.open {
  display: block;
}

.portfolio-content-header {
  font-size: 2rem;
  margin: 0 0 0 8px;
  text-align: center;
  padding-bottom: 16px;
  width: 100%;
  border-bottom: 2px solid var(--primary);
}

.portfolio-btn-container {
  position: absolute;
  bottom: 6%;
  left: 50%;
  transform: translateX(-50%);
  z-index: 12;
}

.portfolio-content-container {
  width: 85%;
  height: 60%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 6%;
  font-family: 'Roboto Slab', serif;
}

.page-projects-container {
  display: flex;
  flex-direction: column;
  gap: 50px;
  width: 100%;
  height: 100%;
  overflow-y: scroll;
  overflow-x: hidden;
  border: 1px solid var(--primary);
  border-radius: 8px;
  padding: 24px 0;
}